* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #030728;
}
.container {
  padding: 30px;
  border-radius: 8px;
  width: 410px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0px 30px #000;
}
.container .converter-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.container .converter-form {
  margin-top: 45px;
}
.converter-form .form-group {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}
.form-label {
  color: #fff;
  font-weight: 500;
  display: block;
  margin-bottom: 9px;
  font-size: 1rem;
}
.converter-form .form-group input {
  outline: none;
  font-size: 1.1rem;
  padding: 0 15px;
  color: #fff;
  font-weight: 500;
  min-height: 48px;
  border-radius: 6px;
  background: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.country .currency-select {
  display: flex;
  padding: 0 10px;
  min-height: 45px;
  align-items: center;
  border-radius: 6px;
  background: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.country .currency-select .currency-dropdown {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 10px 0 5px;
}
.country .currency-select .currency-dropdown option {
  color: #000;
  font-weight: 500;
}

.output {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding: 25px 0;
  margin-top: 30px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  background: #ffffff26;
}
